@import './reset';
@import './themes/normal';
@import './themes/dark';
@import './themes/orange';
@import './variables/global';

body,
#root {
  min-height: 100vh;
  height: 100vh;
}

body {
  font: var(--font-m);
}

.app {
  color: var(--primary-color);
  background-color: var(--bg-color);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content-page {
  display: flex;
  flex-grow: 1;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px; /* ширина scrollbar */
}

*::-webkit-scrollbar-track {
  background: var(--card-bg-color); /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--inverted-primary-color); /* цвет плашки */
  border-radius: 20px; /* закругления плашки */
  border: 2px solid var(--primary-color); /* padding вокруг плашки */
}

a {
  text-decoration: none;
}
