.link {
  display: flex;
  gap: 10px;
  align-items: center;
}

.icon {
  fill: var(--inverted-primary-color);
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .item {
    opacity: 0;
    width: 0;
    height: 0;
    transition: 0s opacity;
    line-height: 20px;
  }
}
