.dropdown {
  position: relative;
}

.menu {
  position: absolute;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  background: var(--card-bg-color);
  display: flex;
  flex-direction: column;
}

.item {
  outline: none;
  border: none;
  background: none;
  padding: 10px 20px;
  color: var(--primary-color);
}
