.profileCard {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
}

.data {
  display: flex;
  flex-direction: column;
}

.input {
  margin-top: 15px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}
